.container
  .toppage
    .toppage_login_btn
      - if user_signed_in?
        .marketpage_link_btm
          =link_to '相場を検索する', items_search_path
      - else
        = link_to '新規登録', new_user_registration_path
        = link_to 'ログイン', new_user_session_path
        .marketpage_link_btm
          =link_to '相場を検索する', items_search_path