@import 'header';
@import 'home';
@import 'item';
@import 'footer';
@import 'form';
@import 'profile';

html {
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

body {
  height: 100%;
  font-size: 1em;
  color: black;
}

a {
  text-decoration: none;
  color: black;
}

.container {
  padding: 16px 16px;
  width: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}